
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');


body{
    overflow-x: hidden;
}


.navbar{
    background-color:white !important;
    box-shadow: 0px 2px 26px rgba(0,0,0,0.3);
    

}


 .navbar-light .navbar-toggler-icon{
    background-image: none;


}

.navbar-light .navbar-toggler-icon img{
    height: 20px;
    margin: auto;

}


/* CLIENTS PART */


@keyframes scroll {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    } 
}

.whotrustus {
    width: 100%;
    overflow: hidden;

}
  

.whotrustus::before{
    top: 0;
    left: 0;
}
 

.whotrustus::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
    background-color: #084e7b;
    background-color: rgb(26, 167 ,222);


    
} 



.whotrustus .whotrustus-container {
    
    height: 200px;
    padding: 32px 140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    animation: scroll 12s infinite linear alternate-reverse ;

  }

  
  
  .whotrustus .whotrustus-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    /* background-color: rgb(26, 167 ,222); */

  }

  .whotrustus :hover{
    animation-play-state: paused;

  }
  
  .whotrustus-item img {
    height: 120px;
    width: 240px;
    margin:0px 55px ;
    margin-bottom: 5px;
    /* background-color: #000; */

  }
  

.btn:focus {
    outline: none !important;
}

#five-steps-image {
    background-image: url('./fivesteps/Group\ 598.png');
    height: 300px;
    width: 100%;
    margin:0px auto;
    background-size: contain;
    background-repeat: no-repeat;
}



#demo-btn{
    width: 220px;
    font-size: 16px !important;
    padding: 10px;
    float: right;
    border-radius: 25px;
    border: none !important;
    outline: none !important;
    display: block;
    margin: auto;
    background-color:rgb(26, 167, 222);
    

    
}

.navbar a{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;

}

.navbar-brand img{
    height: 40px;
    width: 110px;
    float: left !important;

}


.navbar .navbar-nav .nav-item {
    padding: 2px 0px ;
    padding-right: 40px;

}

.navbar .navbar-nav .nav-item .nav-link{
    color:#000;
    position: relative;

}
.navbar .navbar-nav .nav-item .nav-link:active{
    color: #084E7B;

}

.navbar .navbar-nav .nav-item .nav-link:after{

content: "";
position: absolute;
height: 3px;
width: 0%;
left: 0;
bottom: -5px;


}
.navbar .navbar-nav .nav-item .nav-link:hover:after{

content: "";
position: absolute;
background-color:rgb(26, 167 ,222);

height: 3px;
width: 100%;
margin: auto;
left: 0;
bottom: 0;


}

.filter{
filter: invert(54%) sepia(97%) saturate(1041%) hue-rotate(167deg) brightness(90%) contrast(93%);

}

.landing-part{
    width: 100%;
}

.landing{
    width: 100%;
    padding: 0px 100px;
    color: #fff;
    margin-top: 65px;
    background-image: url('./images/Homebg.png');
    text-align: left;

}


.landing .row::-webkit-scrollbar{
    display: none;
}


.landing h1{
    font-weight: bolder;
}

.landing .landing-icon{
height: 50px;
width: 50px;




}
.landing-item{
    background-color: #fff;
    height: 200px;
    width: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    margin: 20px 10px;
    margin-left: 0px;
    border-radius: 20px;
    color:rgb(26, 167 ,222);
    box-shadow:0px 0px 15px 0px  rgba(255, 255, 255, 0.70);


}

.landing-item-btn{
    border: none;
    border-radius:50px;
    outline: none;
    font-size: 14px;
    width: 95%;
    font-weight: 600;
    padding: 10px ;
    background-color:rgb(26, 167 ,222);
}



























.features .heading{
    padding: 10px 170px;
}

.integrations .heading{
    padding: 0px 10px;
    text-align: left;
    margin-bottom: 97px;
}



.features .feature-container{
    padding: 10px 0px;
    padding-left: 165px;
    padding-right: 90px;
    margin: 0 !important;
    display: flex;
    flex-direction: row;   


}

.whyus .feature-container{
    padding: 10px 0px;
    padding-left: 168px;
    padding-right: 124px;
    margin: 0 !important;
    display: flex;
    flex-direction: row;   


}



.whywestandout .feature-item,.whatistm .feature-item{
    background-color: #fff;
    height: 480px ;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 20px;
    color:rgb(26, 167 ,222);
    text-align:center;
    width: 240px;
}
.whyus .feature-item{
    background-color: #fff;
    /* height: 350px ; */
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 20px;
    color:rgb(26, 167 ,222);
    text-align:center;
    width: 156px;
}



.whyus .feature-icon{
    height:100px;
    width: 100px;
    margin-bottom: 34px;
    
}

.whywestandout .feature-icon,.whatistm .feature-icon{
    height:200px;
    width: 200px;
    
}




.whywestandout .feature-title,.whatistm .feature-title{
    font-weight: 600 ;
    font-size: 20px;
    line-height: 24px;
    
}

.whyus .feature-title{
    font-weight: 600 ;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 36px;


}



.whyus .feature-description{
    color:#000 !important;
    text-align:center;
    font-size: 14px;
    font-weight: 400 ;
    width: 156px ;
    line-height: 24px;
    margin-bottom: 60px;

}


.whywestandout .feature-description,.whatistm .feature-description{
    color:#000 ;
    text-align:center;
    font-size: 14px;
    font-weight: 400 ;
    width: 240px ;
    line-height: 24px;

}


.whyus .feature-item-btn{
    border-radius:50px;
    font-size: 12px;
    width: 100px;
    font-weight: 600;
    padding: 10px ;
}

.whywestandout .feature-item-btn,.whatistm .feature-item-btn{
    border-radius:50px;
    font-size: 14px;
    width: 124px;
    font-weight: 600;
    padding: 10px ;
}


#explore-txt{
    color: #084E7B;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    margin-top: 58px;
    padding: 0px 166px;


}


.feature-item-container{
    margin: 0px;
    padding: 0px;
    width: 100%;

}

.features .heading{
margin-bottom: 120px;
}



.features .heading-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 0px;
    line-height: 28px;

}



.features .main-title,.integrations .main-title{
    /* color:rgb(26, 167 ,222); */
    color: #084E7B;
    font-weight:900 ;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 54px;
    padding: 0px;

}

.features .title,.integrations .title{
font-family: 'Montserrat', sans-serif;
font-weight: 400;
margin-bottom: 47px;;
padding: 0px;
font-size: 18px;
}



.explore-btn{
    height: 50px;
    width: 200px;
    font-size: 14px;
    border-radius:50px;
    outline: none;
    border: none;
    margin: 120px auto;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(26, 167 ,222);

}




/* TESTIMONIALS */

.testimonials{
    margin-bottom: 290px;
}






.testimonials .heading{
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 25px;
margin-bottom: 47px;;
padding: 0px;
}
  




.studyplace-details{
    padding:0px 10px;
}

.student-details{
    padding: 20px 0px;
}

.student-details .name{
    color: #EF4F3D;

}

.student-details .department{
    color: #084E7B;

}

.student-description{
    color: #084E7B;
    font-family: 'Roboto', sans-serif;



}

.ratings{
    float: right !important;
    padding-right: 33px;
    color: #EF4F3D !important;
}

.studyplace-details .studyplace-name{
    color: #EF4F3D;

}

.studyplace-details .studyplace-address{
    color: #084E7B;

}

.details-container{
    display: flex;
    flex-direction: column;
}

.controls-container{
    width: 100%;
    margin: 0px auto !important;
    position: absolute;
    
    
}




.five-steps{
    margin-top: 300px !important;
    margin-bottom: 297px !important;
}

.nav-tabs{
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    font-size: 18px;
}



.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
    outline: none;
    color: #1AA7DE;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active span{
    border-bottom: 5px solid #1AA7DE;
    padding-bottom: 10px;
}
.page-link:focus{
    box-shadow: unset;
}
.request_btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.tab_image{
    margin-top: 20px;
}
.learn_more_btn{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 30px;
    color: #1AA7DE;
}
.learn_more_btn button{
    color: #1AA7DE;
    border: 1px solid #1AA7DE;
    border-radius: 20px;
    padding: 5px 15px;
}
.learn_more_btn button:hover{
     color: #FFF;
     background:  #1AA7DE;
}


.integrations{
    padding: 0px 56px;
    margin-top: 100px;
    margin-bottom: 200px;

}



.solution {
    color: #084E7B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 28px;
}



.row2 {
    padding-left: 60px;
    align-items: center;
    padding-top: 50px
}
.row1 {
    padding-left: 180px;
    padding-right: 80px;
    padding-top: 30px;
}

.arrow {
    max-height: 20px;
    max-width: 90px;
}
.arr {
    padding-top: 60px;
    padding-left: 3px;
}
.text {
    font-size: 24px;
    padding-left: 130px;
}


.integration1{
    margin-top: 56px ;
    margin-bottom: 30px;

}


#web-tab {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}
#onlineclasses-tab {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#lms-tab {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.page-link {
    color: #707070;
}

.solution1 {
    text-align: left;
    color: #084E7B;
    /* font-size: 30px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}
.super {
    color: #084E7B;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
.integration {
    padding-right: 130px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.demographic{
    padding: 0px ;
    margin: 0px;
    margin-top: 214px;
    margin-bottom: 197px;

}


.demographic .count-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    padding-top: 20px;
}
.demographic .count-description {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-left: 0px;
}

.demographic .count-text{
    padding-left: 0px;
    text-align: center !important;
    color: #fff;
}


.demographic .count-item {
    max-width: 70px;
    align-items: center;
}
.demographic .count-icon {
    max-width: 60.32px;
    max-width: 60.31px;
}


.create {
    display: block;
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding-left: 35px;
}
.create1 {
    display: block;
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding-left: 30px;
}

@media (max-width: 768px)
{
    
 
.shadow-lg {
    box-shadow: 0 1rem 3rem #1aa7de4d!important;
}

.nav-tabs {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #dee2e6 #dee2e6 #fff;
}

.solution {
    font-weight:400;
    font-size: 20px;
    margin-bottom: 80px;
}


.learn_more_btn{
    justify-content:center;
    margin-top: 30px;
}


.integrations{
    padding: 0px 35px;

}

 .integration1{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
#demo-btn {
    width: 207px;
    height: 43px;
    border-radius: 25px;
}
.blank {
  
    padding-left: 30px;
    padding-top: 50px;
}
.my-list {
    padding-left: 70px;
}

.vid {
    width: 60px;
    height: 60px;
}
.my-list1 {
    padding-left: 100px;
    padding-top: 40px;
}
.proc {
    padding-top: 2px;
}

.txt {
    font-family: 'Roboto', sans-serif;
    /* font-size: 32px; */
    color: #084E7B;
}


.para {
    font-family: 'Roboto', sans-serif;
    color: #707070;
}
#demo-btn {
    background-color: #1AA7DE;
}

#request {
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#learn {
    color: #1AA7DE;
}


}





@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  overflow-x: hidden;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-size: 13px; */
  /* text-align: center; */
}
section {
  position: relative;
  padding: 30px 0;
  background: #fcfcfd;
  z-index: 1;
  width: 100%;
}
.section-title {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}
.section-title p {
  color: #7d93b2;
  font-size: 13px;
  line-height: 20px;
  max-width: 550px;
  margin: 0 auto;
}
.section-title h2 {
  float: left;
  width: 100%;
  text-align: center;
  color: #007aff;
  font-size: 34px;
  font-weight: 800;
  position: relative;
}
.section-separator {
  float: left;
  width: 100%;
  position: relative;
  margin: 20px 0;
}
.section-separator:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 3px;
  width: 50px;
  border-radius: 3px;
  z-index: 2;
  background-color: #007aff;
  margin-left: -25px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.listing-carousel-button {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  z-index: 100;
  cursor: pointer;
  background: #007aff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.45);
  transition: all 200ms linear;
  outline: none;
}
.listing-carousel-button.listing-carousel-button-next {
  right: -30px;
  padding-right: 20px;
  text-align: center;
  border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev {
    left: -30px;
    text-align: center;
  padding-left: 20px;
  border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover {
  right: -15px;
  background: rgba(6, 27, 65, 0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover {
  left: -15px;
  background: rgba(6, 27, 65, 0.4);
}
.testi-item {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  opacity: 0.9;
}
.testimonials-text {
  padding: 75px 50px 75px;
  overflow: hidden;
  background: #f5f6fa;
  border: 1ps solid #f1f1f1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.testimonials-text-after {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  bottom: 25px;
  right: 30px;
}
.testimonials-text-before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  top: 25px;
  left: 30px;
}
.testimonials-text .listing-rating {
  float: none;
  display: inline-block;
  margin-bottom: 12px;
}
.listing-rating i {
  color: #007aff;
}
.testimonials-avatar h3 {
  font-weight: 600;
  color: #7d93b2;
  font-size: 18px;
}
.testimonials-avatar h4 {
  font-weight: 400;
  font-size: 12px;
  padding-top: 6px;
  color: #007aff;
}
.testimonials-carousel .swiper-slide {
  padding: 30px 0;
}
.testi-avatar {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  z-index: 20;
}
.testi-avatar img {
  width: 90px;
  height: 90px;
  float: left;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.swiper-slide-active .testimonials-text {
  background: #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.testimonials-text p {
  color: #878c9f;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
}
.text-link {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  background: #f9f9f9;
  border: 1px solid #eee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
.swiper-slide-active .testi-item {
  opacity: 1;
  transform: scale(1);
}
.tc-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100% !important;
}
.tc-pagination_wrap {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}
.tc-pagination2 {
  float: none;
  display: inline-block;
  padding: 14px 0;
  background: #fff;
  border-radius: 30px;
  min-width: 250px;
  border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet,
.tc-pagination2.swiper-pagination-bullet {
  opacity: 1;
  background: #384f95;
  margin: 0 2px;
  width: 10px;
  height: 10px;
  transition: all 300ms ease-in-out;
}
















@media  (max-width : 1200px){


    .navbar{
        padding:10px ;
    }
    
    .navbar .navbar-nav .nav-item .nav-link{
        padding: 18px;
        text-align: center;
    }
    
    .navbar .navbar-nav .nav-item {
        padding: 0px;
    }





    .whotrustus {
        padding: 0px 80px;
        overflow-x: scroll;
      }
    
      .whotrustus .whotrustus-container {
        width: 100%;
        height: 123px;
        font-size: 10px;
        padding: 0;
        justify-content: space-evenly;
        align-items: center;
      }
    
      .whotrustus-item img {
        height: 40px;
        width: 70px;
        margin: 0px auto;
        margin-bottom: 5px;
      }
    











    
    .landing{
        padding: 30px;
    }
    










    
.explore-btn{
    height: 38px;
    width: 132px;
    font-size: 12px;

}



    .whyus .feature-icon{
        height:100px;
        width: 100px;
        
    }
    
    .whywestandout .feature-icon,.whatistm .feature-icon{
        height:120px;
        width: 120px;
        
    }
    
    .features .feature-container{
        overflow: scroll;
        padding: 0px 0px ;
        display: flex;
        flex-direction: row;
        padding-left: 60px !important;
    }
    
    .features .feature-container::-webkit-scrollbar{
        display: none;
    }
    
        
        .whywestandout .feature-item,.whatistm .feature-item{
            
            margin-right: 80px;
            width: 240px;
        }
    
        
        .whyus .feature-item{
            margin-right: 50px;
            width: 240px;
        }

        

.whywestandout .feature-title,.whatistm .feature-title{
    line-height: 28px;
}

.whyus .feature-title{
    line-height: 28px;

}
    
    
    .features .heading{
        padding: 0px 80px;
        margin-bottom: 72px;
    
    }
    
    .features .explore-btn-container{
        padding: 0px 80px !important;

    
    }
    
    
    
    .features,.clients,.integrations,.whotrustus{
        padding: 0px 0px;
    }
    
    
    
    
    #explore-txt{
        color: #084E7B;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500 ;

    
    }
    
    
    .features .heading-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    
    }
    
    .features .main-title,.integrations .main-title{
        font-weight:900 ;
        font-size: 24px;
        margin-bottom: 28px;
    
    }
    
    .features .title,.integrations .title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
    }

    
    
    
}








@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {




    .navbar .navbar-nav .nav-item .nav-link{
        padding: 18px;
        text-align: center;
    }
    
    .navbar .navbar-nav .nav-item {
        padding: 0px;
    }
    
    .navbar{
        padding: 10px;
    }
    
    .navbar .navbar-nav .nav-item .nav-link:hover:after{
        content: "";
    position: absolute;
    background-color:rgb(26, 167 ,222);
    height: 3px;
    width: 50%;
    margin: 0px auto;
    left: 25%;
    bottom: -0px;
    
    
    }


    
  .whotrustus .whotrustus-container {
    justify-content: start;
    padding: 0px 36px;

  }

  .whotrustus .whotrustus-item {
    margin: 0px;
    margin-right: 57px;
    /* margin-left: 57px; */
    width: auto;
  }


    
    .floatingbtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10%;
        left: -150px;
        z-index: 100;
    
    }
    
    .scrollbutton{
        margin: 0px 3px;
    }
    
    
.five-steps{
    margin-top: 84px !important;
    margin-bottom: 119px !important;
}

#five-steps-image {
    background-image: url('./fivesteps/Group\ 1057.png');
    height: 550px;
    width: 100%;
    margin:0px auto;
    background-size: cover;
    background-repeat: no-repeat;
}



    #demo-btn{
        margin: 0;
        height: 40px;
        font-size: 15px;
        border-radius: 20px;
        margin: auto;
    }
    .landing{
        padding: 0px;
        text-align: center;
    
    }
    
    
    .landing-item-container{
     margin: 0px 30px;
        
    }

    .whyus .feature-icon{
        height:100px;
        width: 100px;
        
    }
    
    .whywestandout .feature-icon,.whatistm .feature-icon{
        height:120px;
        width: 120px;
        
    }
    
    .features .feature-container{
        overflow: scroll;
        padding: 0px 0px ;
        padding-left: 36px ;
    }
    
        
        .whywestandout .feature-item,.whatistm .feature-item{
            
            margin-right: 57px;
            width: 156px;
            /* margin-left: 50px; */
        }
    
        
        .whyus .feature-item{
            margin-right: 60px;
            width: 156px;

        }
    
    

.whywestandout .feature-title,.whatistm .feature-title{
    font-weight: 500 ;
    font-size: 18px;
}

.whyus .feature-title{
    font-weight: 500 ;
    font-size: 14px;

}

.whyus .feature-description{
    color:#000 ;
    text-align:center;
    font-size: 14px;
    font-weight: 300;
    width: 156px ;
}


.whywestandout .feature-description,.whatistm .feature-description{
    color:#000 ;
    text-align:center;
    font-size: 14px;
    font-weight: 300 ;
    width: 156px ;
}


    
    
    .features .heading{
        padding:0px 37px ;
    
    }
    
    .whatistm .heading{
        margin-bottom: 91px;
    
    }
    
    .whywestandout .heading{
        margin-bottom: 58px;
    
    }
    
    .whyus .heading{
        margin-bottom: 84px;
    
    }
    
    
    .features .explore-btn-container{
        padding: 0px 36px !important;
    
    }

    
    
    
    .features,.clients,.integrations,.whotrustus{
        padding: 0px 0px;
    }

    
.integrations{
    padding: 0px 18px;
    margin-top: 60px;
    margin-bottom: 100px;

}
    

    
    
    
    #explore-txt{
        color: #084E7B;
        font-size: 18px;
        height: 37px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500 !important;
    
    }
    
    
    
    
    .features .heading-description{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    
    }
    
    .features .main-title,.integrations .main-title{
        font-weight:900 ;
        font-size: 20px;
        margin-bottom: 28px;
    
    
    }
    
    .features .title,.integrations .title{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 22px;
    }
    
/* TESTIMONIALS */

    
.testimonials .heading{
    font-size: 18px;
    margin-bottom: 47px;;
    padding: 0px;
    margin-top: 100px;
    }
    

}

